
.hero-image {
    position:relative;
    width:100%;
    height:50vh;
    overflow:hidden;
    background:url("./imgs/map.jpg") no-repeat center;
    background-color: gray;
    background-size:cover;
    
    }

    .container{
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
       
    
      .container h1{
        font-size: 60px;
        letter-spacing:0.3em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .des/*stands for description*/ { 
        margin:20px;
        display:block;
        font-size:26px;
        text-shadow:0 0 10px black;
      }


.drop-down-arrow{
    padding-left: 499px ; 
    padding-top: 15px; 
    padding-bottom: 20px ; 
    font-size: 50px ; 
    color: #A5A58D  ; 
}

.contact-info-style{
  text-align: center;
  line-height: 40px;
}

.contact-info-style h2 {
  font-size: 40px;
  font-family: inherit;
  letter-spacing: 2px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.contact-info-style p {
  font-family: 'Amiri', serif;
  font-size: 25px;
  
}

.grid-container{

    display:grid;
    grid-template-columns: auto  auto  ;
    /*grid-gap: 10px ;*/
    /*margin: 30px 0px 120px 50px;*/
    

}

.contact-form{
    padding-right: 200px ; 
    padding-left: 370px ;
    padding-top: 50px ; 
    padding-bottom: 80px ; 
    height: 650px;

}

.contact-form-text{
    display:block;
    width: 90%;
    box-sizing:border-box;
    margin:16px 0;
    border:0;
    background:#ddd;
    padding:20px 40px;
    outline:none;
    color:black;
    border-radius: 5px;
    
  }

  .contact-form-text:hover/*try focus*/{
    box-shadow:0 0 10px 4px #34495e;
  }
  
  .label-design{
      color: #A5A58D ; 
      font-weight: 900;
  }

  .contact-form-btn{
    float:right;
    border:0;
    background-color:#3D405B;
    color:#fff;
    padding:12px 50px ;
    border-radius:15px;
    margin: 50px 0;
   
  }
  .btn-setting{
      margin-bottom: 20px;
  }
/***************** MEDIA QUERIES *******************

@media only screen and (max-width: 425px){

    .container h1{
        font-size:30px;
    }
    .drop-down-arrow{
        padding-left: 191px ; 
    }
    .contact-info-style p {
        font-size: 15px;;

    }
    .contact-form{
        padding-right: 0px ; 
        padding-left: 33px ;
}

}




  @media only screen and  (min-width: 768px){
    .drop-down-arrow{
        padding-left: 374px ; 
    }
    .contact-form{
            padding-right: 0px ; 
            padding-left: 150px ;
    }
    .contact-form-text{
        width: 80%;
    }
    .contact-form-btn{
        float:none ; 
    }

  }*/

  