.logo_firstname{
    text-align: center;
    font-family: inherit;
    font-size: 100px;
    margin-bottom: 20px;
    letter-spacing: 15px;
}

.wikipedia_logo {
    height: 250px;
    width: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
   
}
.initial_container{
    margin: 240px;

}
.wk_name{
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Amiri', serif;
}

.history_container{
  display: flex;
  align-items: center;
  padding: 20px 0 50px 135px;
  font-size: 22px;
  background-color: #a5a58d;
  margin-top: 100px;
  width: 100%;
}

.history_container p {
  font-family: 'Amiri', serif;
}

.video_title{
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info_hist{
  text-align: center;
  margin: 0 75px 35px 45px;
  line-height: 30px;
  margin-top: 40px;
}

/* Search bar  */
.ui.input {
    text-align: center;
    margin: 4em auto;
    color: #000;
    box-sizing: border-box;
    position: relative;
    right: 50px;
  }
  
  .search {
    background: #fff;
    color: #000;
    box-shadow: 1px 1px 0px #8e8a8a;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    border: 2px solid #B0BABF;
    padding-left: 0.5em;
    padding-right: 0.5em;
  
  }
  #button-search{
    border-radius: 10px;
    
  }
  
  
  #input-search:hover, #input-search .active {
    border-color: #CB997E;
    outline: none;
  }
  
  .ui.input > button:hover, button:active, button:focus {
    outline: none;
    color: #CB997E;
  }
  
  input {
    width: 35%;
  }
  /* responsive */

  @media screen and (max-width: 768px){
    #input-search{
      width: 250px;
    }

    .history_container{
      display: flex;
      flex-direction: column;
      padding: 10px 0 70px 30px;
    }
    iframe{
      width: 400px;
      height: 350px;
    }
  }
