

.ver-container {
    margin: 200px 0 150px 225px;
    width: 1020px;
    height: 1185px;
    background-color: #A5A58D;
    border-radius: 10px;
}
  
  .editVer-section {
    width: 1000px;
    height: 1185px;
    padding-left: 50px;
}
  
  .ver-slogo-container {
    background: url("../../src/assets/Sephora_logo.png") no-repeat center;
    background-size: 550px 100px;
    width: 550px;
    height: 250px;
    margin: 0px 0 0 180px;
    padding-top: 75px;
}
  
  .editVer-section h3 {
    line-height: 45px;
    max-width: 450px;
    font-size: 23px;
    font-family: inherit;
}
  
  .ver-text-field {
    line-height: 30px;
    font-size: 20px;
    padding: 10px;
    width: 900px;
    margin-bottom: 15px;
    font-family: serif;
}
  
  .disclaimer {
    height: 50px;
    width: 400px;  
}
  
  .disclaimer h3 {
    font-size: 15px;
    line-height: 15px;
}
  
  .disclaimer p {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}
  
  .top {
    position: relative;
    bottom: 50px;
    left: 50px;
    width: 800px;
    margin-top: 25px;
}
  
  .bottom {
    margin-top: 30px;
    float:left;
  }
  
  button{
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    float: right;
    /* margin: 50px 10px 10px 10px; */
    font-family: Helvetica,Arial,sans-serif;
    border-radius: 9px;
  }
  button 
  button:hover, 
  button:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
  }
  
  
  .publishhhhh{
  color: #F0EFEB;
  background: #3d405b;
  }
  
  .cancel{
   color: red;
    border:none;
    background-color: #A5A58D;
    font-size: 15px;
    
  }
  .txtcontain{
    border-radius: 10px;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    max-width: 900px;
    font-family: serif;
  }
  
  
  input{
    border-radius: 10px;
  }
